Package: com.uroboro.pasteboard
Name: Pasteboard CLI
Depends: firmware (>= 1.0)
Conflicts: com.ericasadun.utilities
Version: 0.0.1
Architecture: iphoneos-arm
Description: Provides advanced pbcopy & pbpaste. Supports strings, urls, images and colors. How can you copy or paste a color I don't know.
Maintainer: uroboro <uroboro845@gmail.com>
Author: uroboro <uroboro845@gmail.com>
Section: System
Tag: role::hacker
